<div class="navbar navbar-expand-sm navbar-light bg-light navbar-lewagon">
  <%= link_to products_path, class: "navbar-brand item" do %>
    <%= image_tag "fakey_logo.png" %>
    <% end %>
<!-- this is the button to popup and down -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- if the user is signed in, this is shown on nav bar-->
      <% if user_signed_in? %>

<!--         <li>
          <%=link_to "#", class: "nav-link" do%>
            <button type="button" class="btn btn-default">Check Out!</button>
          <% end %>
        </li> -->

        <li class="nav-item active item">
          <%= link_to "#", class: "nav-link" do%>
          <i class="fa fa-search"></i>
          <% end %>
        </li>


        <li class="nav-item item">
          <%= link_to "#", class: "nav-link" do%>
          <i class="fa fa-heart"></i>
          <% end %>
        </li>

        <li class="nav-item item">
          <%= link_to "#", class: "nav-link" do%>
          <i class="fa fa-shopping-cart"></i>
          <% end %>
        </li>

        <!-- if the user is signed in has a popout bar -->
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do%>
            <button type="button" class="btn btn-default">Log In</button>
          <% end %>
        </li>

        <li class="nav-item active item">
          <%= link_to "#", class: "nav-link" do%>
          <i class="fa fa-search"></i>
          <% end %>
        </li>


        <li class="nav-item item">
          <%= link_to "#", class: "nav-link" do%>
          <i class="fa fa-heart"></i>
          <% end %>
        </li>

        <li class="nav-item item">
          <%= link_to "#", class: "nav-link" do%>
          <i class="fa fa-shopping-cart"></i>
          <% end %>
        </li>

         <li class="nav-item dropdown">
          <%= link_to "#", class: "profile" do%>
            <i class="fas fa-user-circle fa-2x"></i>
          <% end %>
        </li>
      <% end %>

    </ul>
  </div>
</div>
