      <div class="containernew">
        <div class="col-md-6 leftside">
          <div class="product col-md-3 service-image-left">
          </div>
          <!-- <div class="container service1-items col-sm-2 col-md-2 pull-left"> -->
            <!-- <center>
              <a id="item-1" class="service1-item">
                <img src="assets/grey_hoodie.png" alt=""></img>
              </a>
              <a id="item-2" class="service1-item">
                <img src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
              </a>
              <a id="item-3" class="service1-item">
                <img src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
              </a>
            </center> -->
          </div>


        <div class="col-md-6 rightside">
          <div class="changes">
            <%= @product.name %>
            <p></p>
            <%= @product.desc %>
            <p></p>
            <%= @product.cost %>
            <p></p>
          </div>
          <% if user_signed_in? then %>
            <% if !current_user.products.include?(@products) then %>
            <%flash[:success] = "You have added to the cart"%>
              <%=button_to "Add to Cart", "#", :class=> "btn btn-success btn-lg btn-block" %>

            <!-- type="button" class="btn btn-success btn-lg btn-block">
              Add to Cart
            </button> -->
            <% else %>
              <%= button_to "Remove from Cart", product_path(:id => @product.id ), :class=>"btn btn-success btn-lg btn-block" %>
            <% end %>
          <% end %>
          </br>
          <%= link_to products_path do%>
            <button type="button" class="btn btn-primary btn-lg btn-block">
              Keep Shopping
            </button>
          <% end %>
          </br>
          <button type="button" class="btn btn-danger btn-lg btn-block">
            Favorite
          </button>
          </br>
        </div>
      </div>

